<h1>
  Rails-Reaction
</h1>

<p>
  A workflow for Rails and
  <a href="https://github.com/artsy/reaction">Reaction</a>
</p>

<nav>
  <ul>
    <li>
      <a href="<%= hello_world_path %>">Hello, world</a>
    </li>
    <li>
      <a href="<%= reaction_test_path %>">Reaction test</a>
    </li>
  </ul>

</nav>